build
__pycache__
*.pyc
*.egg-info
dist
test
*.ipynb_checkpoints
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
pyvenv
./run/misc/exo_25_RM_condapack.tar.gz
run/edmcmc_output
run/condor*
run/docker*